.site-layout-content {
    min-height: initial;
}
.ant-card-head {
    min-height: initial !important;
}
.ant-card-head-title {
    padding: 5px 0 !important;
}
.conveyor {
    margin-bottom: 15px !important;
}

.position-card {
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}
.position-green {
    background-color: #7cb305;
}

.position-orange {
    background-color: #ffa940;
}

.position-red {
    background-color: #cf1322;
}
.position-main-red {
    background-color: #820014;
}